@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.app {
  min-height: 100vh;
  background: linear-gradient(135deg, #070b20 0%, #18006e 100%);
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 24px;
  box-shadow: 0 10px 30px rgba(52, 6, 255, 0.356);
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 24px;
  font-size: 50px;
  font-family: "Bungee", sans-serif;
  letter-spacing: 4px;
  text-shadow: 2px 2px 0px #6bd5ff;
}
